  .main{
    background: url("../assets/Img/fondo-login.png");
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    place-items: center;
    overflow: hidden;
    width: 100vw;
    height: 90vh;

  }
  
  .container {
    width: 50%;
    height: auto;
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
    background: #ecf0f3;
    overflow: hidden;
/*     box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white; */
  }
  
  .form-avatar {
    height: 100px;
    width: 100px;
    background: url("../assets/Img/usuario-sin-foto.png");
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px white;
  }
  
  .form-title {
    margin-top: 10px;
    font-weight: 900;
    font-size: 1.8rem;
    color: #636363;
    letter-spacing: 1px;
  }
  
  .inputs {
    text-align: left;
    margin-top: 30px;
  }
  
  .label, .input, .button {
    display: block;
    width: 100%;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  
  .label {
    margin-bottom: 10px;
    margin-top: 4px;
  }
  
  .label:nth-of-type(2) {
    margin-top: 12px;
  }
  
  .input::placeholder {
    color: gray;
  }
  
  .input {
    caret-color: #de48b5;
    background: #ecf0f3;
    padding: 10px;
    padding-left: 20px;
    height: 50px;
    font-size: 14px;
    border-radius: 50px;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
  }
  
  .login-button {
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    background: linear-gradient(to right, #de48b5 0%,#0097ff 100%);
    border: #de48b5;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 900;
    box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
    transition: 0.5s;
  }
  
  .login-button:hover {
    box-shadow: none;
  }
  